.gos-ext-flagged--max .gos-ext-banner {
  background-color: #f00;
  border-left: 1px solid #e60000;
  border-right: 1px solid #e60000;
  border-top: 1px solid #e60000;
  padding: .5rem;
  text-align: center; }
  .gos-ext-flagged--max .gos-ext-banner h1,
  .gos-ext-flagged--max .gos-ext-banner p {
    color: #fff;
    margin: 0;
    padding: .25em; }

.gos-ext-flagged--medium .gos-ext-banner {
  background-color: #f90;
  border-left: 1px solid #e68a00;
  border-right: 1px solid #e68a00;
  border-top: 1px solid #e68a00;
  padding: .5rem;
  text-align: center; }
  .gos-ext-flagged--medium .gos-ext-banner h1,
  .gos-ext-flagged--medium .gos-ext-banner p {
    color: #fff;
    margin: 0;
    padding: .25em; }

.gos-ext-flagged--low .gos-ext-banner {
  background-color: #ff0;
  border-left: 1px solid #e6e600;
  border-right: 1px solid #e6e600;
  border-top: 1px solid #e6e600;
  padding: .5rem;
  text-align: center; }
  .gos-ext-flagged--low .gos-ext-banner h1,
  .gos-ext-flagged--low .gos-ext-banner p {
    color: #000;
    margin: 0;
    padding: .25em; }

.gos-ext-flagged--min .gos-ext-banner {
  background-color: #77a3ff;
  border-left: 1px solid #5e92ff;
  border-right: 1px solid #5e92ff;
  border-top: 1px solid #5e92ff;
  padding: .5rem;
  text-align: center; }
  .gos-ext-flagged--min .gos-ext-banner h1,
  .gos-ext-flagged--min .gos-ext-banner p {
    color: #fff;
    margin: 0;
    padding: .25em; }
