$red: #f00;
$orange: #f90;
$yellow: #ff0;
$blue: #77a3ff;

$white: #fff;
$black: #000;

$colors: (
  max: (
    bg: $red,
    text: $white
  ),

  medium: (
    bg: $orange,
    text: $white
  ),

  low: (
    bg: $yellow,
    text: $black
  ),

  min: (
    bg: $blue,
    text: $white
  )
);
