@import 'vars';

.gos-ext {
  &--misleading {
    background-color: lighten($misleading-background, 40);

    .mtm a {
      // color: $misleading-text;
    }

    [class^="_"] {
      background-color: transparent !important;
    }

    &::before {
      background-color: $misleading-background;
      color: $misleading-text;
      content: 'The link shared here may be misleading or false. Check the source and look for the story on other news outlets.';
      display: block;
      font-weight: bold;
      padding: 5px;
      text-align: center;
    }

    .userContentWrapper {
      &::before {
        display: none;
      }
    }
  }

  &--satire {
    background-color: lighten($satire-background, 40);

    .mtm a {
      color: $satire-text;
    }

    [class^="_"] {
      background-color: transparent !important;
    }

    &::before {
      background-color: $satire-background;
      color: $satire-text;
      content: 'The information below may be satirical or comedic, not factual.';
      display: block;
      font-weight: bold;
      padding: 5px;
      text-align: center;
    }

    .userContentWrapper {
      &::before {
        display: none;
      }
    }
  }
}
